<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name="emp" class="com.app.Employee">
    <constructor-arg value="111" type="int"/>
    <constructor-arg value="Sagar"/>
    <constructor-arg value="1200000.25f" type="float"/>
    <constructor-arg ref="date"/>
    </bean>
    
    <bean name="date" class="com.app.Date">
    <constructor-arg value="11" type="int"/>
    <constructor-arg value="11" type="int"/>
    <constructor-arg value="2025" type="int"/>
    </bean>

</beans>